Options -Indexes -MultiViews
DirectoryIndex index.html
ErrorDocument 404 /404.html
RewriteEngine On
RewriteRule ^journal(?:/(.*))?$ /blog/$1 [R=301,L,NC]
RewriteRule ^wer-bin-ich-1/?$ /ueber-robin/ [R=301,L,NE]
RewriteRule ^wer-bin-ich-1/erwähnung-im-öffentlichen/?$ /presse/ [R=301,L,NE]
RewriteRule ^social-media/?$ /medien/ [R=301,L,NE]
RewriteRule ^social-media/mein-youtube-kanal/?$ /medien/youtube/ [R=301,L,NE]
RewriteRule ^social-media/tiktok/?$ /medien/tiktok/ [R=301,L,NE]
RewriteRule ^blog/vorträge/?$ /blog/?thema=vortraege [R=301,L,NE]
RewriteRule ^blog/polizei-crashkurs/?$ /blog/?thema=polizei-crashkurs [R=301,L,NE]
RewriteRule ^blog/mein-unfall/?$ /blog/?thema=mein-unfall [R=301,L,NE]
RewriteRule ^blog/erlebnisse/?$ /blog/?thema=erlebnisse [R=301,L,NE]
RewriteRule ^blog/cannabis/?$ /blog/?thema=cannabis [R=301,L,NE]
RewriteRule ^blog/klamotten/?$ /blog/?thema=klamotten [R=301,L,NE]
RewriteRule ^blog/körper/?$ /blog/?thema=koerper [R=301,L,NE]
RewriteRule ^blog/psyche/?$ /blog/?thema=psyche [R=301,L,NE]
RewriteRule ^blog/hilfsmittel/?$ /blog/?thema=hilfsmittel [R=301,L,NE]
RewriteRule ^blog/technik/?$ /blog/?thema=technik [R=301,L,NE]
RewriteRule ^querschnittslähmung/?$ /wissen/ [R=301,L,NE]
RewriteRule ^querschnittslähmung/dokumente-zum-runterladen/?$ /wissen/dokumente/ [R=301,L,NE]
RewriteRule ^querschnittslähmung/druckstellen-dekubitus/?$ /wissen/druckstellen/ [R=301,L,NE]
RewriteRule ^querschnittslähmung/hilfsmittel/?$ /wissen/hilfsmittel/ [R=301,L,NE]
RewriteRule ^querschnittslähmung/katheter/?$ /wissen/katheter/ [R=301,L,NE]
RewriteRule ^querschnittslähmung/cannabis/?$ /wissen/cannabis/ [R=301,L,NE]
RewriteRule ^querschnittslähmung/schlafen/?$ /wissen/schlafen/ [R=301,L,NE]
RewriteRule ^anderes/frage-und-antwort/?$ /wissen/fragen/ [R=301,L,NE]
RewriteRule ^anderes/wheelmap/?$ /wissen/wheelmap/ [R=301,L,NE]
RewriteRule ^anderes/justwatch/?$ /wissen/justwatch/ [R=301,L,NE]
RewriteRule ^spenden/?$ /unterstuetzen/ [R=301,L,NE]
RewriteRule ^partner/meine-partner/?$ /partner/ [R=301,L,NE]
RewriteRule ^2026/07/24/danke-an-allgemeine-zeitung-und-euch/?$ /blog/danke-an-allgemeine-zeitung-und-euch/ [R=301,L,NE]
RewriteRule ^2026/06/20/ein-neuen-steh-trainer-getestet/?$ /blog/ein-neuen-steh-trainer-getestet/ [R=301,L,NE]
RewriteRule ^2026/05/22/24-stunden-rennen-nürburgring/?$ /blog/24-stunden-rennen-nuerburgring/ [R=301,L,NE]
RewriteRule ^2026/05/01/du-schenkst-mir-etwas-zum-geburtstag/?$ /blog/du-schenkst-mir-etwas-zum-geburtstag/ [R=301,L,NE]
RewriteRule ^2026/04/22/blasenspiegelung-und-weitere-probleme/?$ /blog/blasenspiegelung-und-weitere-probleme/ [R=301,L,NE]
RewriteRule ^2026/04/10/danke-an-die-bbs2-in-mainz/?$ /blog/danke-an-die-bbs2-in-mainz/ [R=301,L,NE]
RewriteRule ^2026/04/02/riesen-schmerzen-und-wieder-blasenprobleme/?$ /blog/riesen-schmerzen-und-wieder-blasenprobleme/ [R=301,L,NE]
RewriteRule ^2026/03/03/sean-paul-konzert/?$ /blog/sean-paul-konzert/ [R=301,L,NE]
RewriteRule ^2026/02/15/minecraft-spielen-ohne-hände/?$ /blog/minecraft-spielen-ohne-haende/ [R=301,L,NE]
RewriteRule ^2026/02/07/bushido-konzert/?$ /blog/bushido-konzert/ [R=301,L,NE]
RewriteRule ^2026/02/05/ab-jetzt-bundesländerübergreifend/?$ /blog/ab-jetzt-bundeslaenderuebergreifend/ [R=301,L,NE]
RewriteRule ^2026/01/17/ein-unfall-endet-nicht-am-unfallort/?$ /blog/ein-unfall-endet-nicht-am-unfallort/ [R=301,L,NE]
RewriteRule ^meilenstein/?$ /blog/meilenstein/ [R=301,L,NE]
RewriteRule ^2025/11/08/aufklärung-zu-hanfverband-deutschland-und-medizinischem-cannabis/?$ /blog/aufklaerung-zu-hanfverband-deutschland-und-medizinischem-cannabis/ [R=301,L,NE]
RewriteRule ^2025/10/23/bittere-erfahrung-schwere-verbrennung-durch-eine-wärmflasche/?$ /blog/bittere-erfahrung-schwere-verbrennung-durch-eine-waermflasche/ [R=301,L,NE]
RewriteRule ^2025/09/19/das-glücksgefühle-festival-2025/?$ /blog/das-gluecksgefuehle-festival-2025/ [R=301,L,NE]
RewriteRule ^2025/09/11/informationsabend-medizinisches-cannabis/?$ /blog/informationsabend-medizinisches-cannabis/ [R=301,L,NE]
RewriteRule ^2025/09/01/meine-geschichte-im-swr/?$ /blog/meine-geschichte-im-swr/ [R=301,L,NE]
RewriteRule ^2025/08/15/durch-atemdepressionen-keinen-schlaf/?$ /blog/durch-atemdepressionen-keinen-schlaf/ [R=301,L,NE]
RewriteRule ^2025/08/08/schlafen-mit-zugeklebten-mund/?$ /blog/schlafen-mit-zugeklebten-mund/ [R=301,L,NE]
RewriteRule ^2025/07/02/vortrag-bei-einer-8-klasse/?$ /blog/vortrag-bei-einer-8-klasse/ [R=301,L,NE]
RewriteRule ^2025/07/11/linkin-park-konzert/?$ /blog/linkin-park-konzert/ [R=301,L,NE]
RewriteRule ^2025/07/10/mut-teilen-gibt-mut/?$ /blog/mut-teilen-gibt-mut/ [R=301,L,NE]
RewriteRule ^2025/07/02/beinahe-gestorben-mein-kampf-gegen-die-lungenentzündung/?$ /blog/beinahe-gestorben-mein-kampf-gegen-die-lungenentzuendung/ [R=301,L,NE]
RewriteRule ^legendär/?$ /blog/legendaer/ [R=301,L,NE]
RewriteRule ^2025/05/02/spontan-zum-traumtag-nürburgring-supercars-und-pure-gänsehaut/?$ /blog/spontan-zum-traumtag-nuerburgring-supercars-und-pure-gaensehaut/ [R=301,L,NE]
RewriteRule ^fortschritt/?$ /blog/fortschritt/ [R=301,L,NE]
RewriteRule ^2025/04/03/k-i-z-live/?$ /blog/k-i-z-live/ [R=301,L,NE]
RewriteRule ^2025/03/27/alan-walker-live-in-frankfurt/?$ /blog/alan-walker-live-in-frankfurt/ [R=301,L,NE]
RewriteRule ^2025/03/20/musik-von-hans-zimmer-und-john-william/?$ /blog/musik-von-hans-zimmer-und-john-william/ [R=301,L,NE]
RewriteRule ^2025/01/30/crashkurs-rlp-unfallprävention-hautnah/?$ /blog/crashkurs-rlp-unfallpraevention-hautnah/ [R=301,L,NE]
RewriteRule ^2024/11/24/ein-meilenstein-mein-vortrag-in-der-fachzeitschrift/?$ /blog/ein-meilenstein-mein-vortrag-in-der-fachzeitschrift/ [R=301,L,NE]
RewriteRule ^stopp/?$ /blog/stopp/ [R=301,L,NE]
RewriteRule ^porschemuseum/?$ /blog/porschemuseum/ [R=301,L,NE]
RewriteRule ^2024/06/22/ein-richtig-geiles-motor-wochenende/?$ /blog/ein-richtig-geiles-motor-wochenende/ [R=301,L,NE]
RewriteRule ^2024/06/14/vortrag-über-das-leben-mit-beeinträchtigung-vor-einer-sechsten-klasse/?$ /blog/vortrag-ueber-das-leben-mit-beeintraechtigung-vor-einer-sechsten-klasse/ [R=301,L,NE]
RewriteRule ^2024/06/07/ein-unvergesslicher-auftritt-meine-erfahrung-auf-dem-wundkongress-in-kassel/?$ /blog/ein-unvergesslicher-auftritt-meine-erfahrung-auf-dem-wundkongress-in-kassel/ [R=301,L,NE]
RewriteRule ^2024/05/02/das-tarzan-musical/?$ /blog/das-tarzan-musical/ [R=301,L,NE]
RewriteRule ^2024/01/29/mein-kampf-gegen-depressionen/?$ /blog/mein-kampf-gegen-depressionen/ [R=301,L,NE]
RewriteRule ^2023/12/13/mein-unvergesslicher-ausflug-im-dialogmuseum-frankfurt/?$ /blog/mein-unvergesslicher-ausflug-im-dialogmuseum-frankfurt/ [R=301,L,NE]
RewriteRule ^2023/10/13/mein-abenteuer-auf-see/?$ /blog/mein-abenteuer-auf-see/ [R=301,L,NE]
RewriteRule ^2023/08/23/mein-aufenthalt-im-krankenhaus/?$ /blog/mein-aufenthalt-im-krankenhaus/ [R=301,L,NE]
RewriteRule ^2023/07/12/ich-habe-alles-alleine-aufgebaut/?$ /blog/ich-habe-alles-alleine-aufgebaut/ [R=301,L,NE]
RewriteRule ^2023/06/20/das-warme-wetter-macht-meinem-körper-echt-probleme/?$ /blog/das-warme-wetter-macht-meinem-koerper-echt-probleme/ [R=301,L,NE]
RewriteRule ^2023/06/15/selbst-gebauter-aufzug-gibt-so-viel-lebensqualität/?$ /blog/selbst-gebauter-aufzug-gibt-so-viel-lebensqualitaet/ [R=301,L,NE]
RewriteRule ^2023/06/13/mein-treffen-mit-hamid/?$ /blog/mein-treffen-mit-hamid/ [R=301,L,NE]
RewriteRule ^2023/06/04/ich-war-am-facetimen-mit-hamid-mossadegh/?$ /blog/ich-war-am-facetimen-mit-hamid-mossadegh/ [R=301,L,NE]
RewriteRule ^2023/05/24/meine-ersten-vorträge-vor-schülern/?$ /blog/meine-ersten-vortraege-vor-schuelern/ [R=301,L,NE]
RewriteRule ^2023/04/02/der-beste-schuh-für-querschnittsgelähmte-nikefly-easy-go/?$ /blog/der-beste-schuh-fuer-querschnittsgelaehmte-nikefly-easy-go/ [R=301,L,NE]
RewriteRule ^2023/03/31/erstes-mal-lamborghini-fahren/?$ /blog/erstes-mal-lamborghini-fahren/ [R=301,L,NE]
RewriteRule ^2023/02/08/mein-geändertes-temperaturempfinden/?$ /blog/mein-geaendertes-temperaturempfinden/ [R=301,L,NE]
RewriteRule ^2023/01/26/ich-habe-meine-ausbildung-abgebrochen/?$ /blog/ich-habe-meine-ausbildung-abgebrochen/ [R=301,L,NE]
RewriteRule ^2022/12/19/gedanken-und-gefühle/?$ /blog/gedanken-und-gefuehle/ [R=301,L,NE]
RewriteRule ^2022/12/12/mein-ausflug-zur-essen-motorshow/?$ /blog/mein-ausflug-zur-essen-motorshow/ [R=301,L,NE]
RewriteRule ^2022/12/04/meine-spastik-wird-immer-schlimmer/?$ /blog/meine-spastik-wird-immer-schlimmer/ [R=301,L,NE]
RewriteRule ^2022/11/29/ich-komme-mir-blöd-vor/?$ /blog/ich-komme-mir-bloed-vor/ [R=301,L,NE]
RewriteRule ^2022/11/07/auswirkungen-eines-blasen-keimes/?$ /blog/auswirkungen-eines-blasen-keimes/ [R=301,L,NE]
RewriteRule ^2022/11/07/meine-auswirkungen-im-moment-auf-cannabis/?$ /blog/meine-auswirkungen-im-moment-auf-cannabis/ [R=301,L,NE]
RewriteRule ^2022/09/25/panik/?$ /blog/panik/ [R=301,L,NE]
RewriteRule ^2022/09/03/mein-organismus-kommt-nicht-zur-ruhe/?$ /blog/mein-organismus-kommt-nicht-zur-ruhe/ [R=301,L,NE]
RewriteRule ^2022/08/29/es-wird-so-krass-aufs-geld-geschaut/?$ /blog/es-wird-so-krass-aufs-geld-geschaut/ [R=301,L,NE]
RewriteRule ^2022/08/19/ich-bekomme-botox-gespritzt/?$ /blog/ich-bekomme-botox-gespritzt/ [R=301,L,NE]
RewriteRule ^2022/08/03/kurztrip-nach-holland/?$ /blog/kurztrip-nach-holland/ [R=301,L,NE]
RewriteRule ^2022/07/26/jeden-morgen-aufwachen-mit-bauchschmerzen/?$ /blog/jeden-morgen-aufwachen-mit-bauchschmerzen/ [R=301,L,NE]
RewriteRule ^2022/07/20/ausflug-zum-barfußpfad/?$ /blog/ausflug-zum-barfusspfad/ [R=301,L,NE]
RewriteRule ^2022/07/20/ab-32-ist-es-viel-zu-warm/?$ /blog/ab-32-ist-es-viel-zu-warm/ [R=301,L,NE]
RewriteRule ^2022/07/04/trauma-im-aufzug/?$ /blog/trauma-im-aufzug/ [R=301,L,NE]
RewriteRule ^2022/07/02/wie-steuere-ich-mein-ipad/?$ /blog/wie-steuere-ich-mein-ipad/ [R=301,L,NE]
RewriteRule ^2022/07/02/ein-rap-song-über-meinen-unfall/?$ /blog/ein-rap-song-ueber-meinen-unfall/ [R=301,L,NE]
RewriteRule ^2022/07/01/reizüberflutung/?$ /blog/reizueberflutung/ [R=301,L,NE]
RewriteRule ^2022/06/07/warum-kann-ich-keine-normalen-schuhe-tragen/?$ /blog/warum-kann-ich-keine-normalen-schuhe-tragen/ [R=301,L,NE]
RewriteRule ^2022/06/01/meine-probleme-mit-dem-wechselnden-wetter/?$ /blog/meine-probleme-mit-dem-wechselnden-wetter/ [R=301,L,NE]
RewriteRule ^2022/04/23/warme-temperaturen-tun-gleich-viel-besser/?$ /blog/warme-temperaturen-tun-gleich-viel-besser/ [R=301,L,NE]
RewriteRule ^2022/04/18/ich-musste-lernen-anders-zu-atmen/?$ /blog/ich-musste-lernen-anders-zu-atmen/ [R=301,L,NE]
RewriteRule ^2022/04/18/schlafen-mit-querschnittslähmung-2/?$ /blog/schlafen-mit-querschnittslaehmung-2/ [R=301,L,NE]
RewriteRule ^2022/04/10/spontane-entscheidungen-sind-manchmal-die-besten/?$ /blog/spontane-entscheidungen-sind-manchmal-die-besten/ [R=301,L,NE]
RewriteRule ^2022/04/07/wie-steuere-ich-dem-pc-ipad/?$ /blog/wie-steuere-ich-dem-pc-ipad/ [R=301,L,NE]
RewriteRule ^2022/04/02/tag-15-nach-meiner-druckstelle-am-hintern/?$ /blog/tag-15-nach-meiner-druckstelle-am-hintern/ [R=301,L,NE]
RewriteRule ^2022/03/29/die-folgen-meiner-druckstelle-an-meinem-hintern/?$ /blog/die-folgen-meiner-druckstelle-an-meinem-hintern/ [R=301,L,NE]
RewriteRule ^2022/03/17/lange-sitzen-ist-echt-sau-gefährlich/?$ /blog/lange-sitzen-ist-echt-sau-gefaehrlich/ [R=301,L,NE]
RewriteRule ^2022/03/06/cannabis-extrakt-anstatt-blüten/?$ /blog/cannabis-extrakt-anstatt-blueten/ [R=301,L,NE]
RewriteRule ^2022/02/16/wie-ist-der-unfall-vor-fünf-jahren-passiert/?$ /blog/wie-ist-der-unfall-vor-fuenf-jahren-passiert/ [R=301,L,NE]
RewriteRule ^2022/02/07/mein-perfektes-krankenhaus-streaming-setup/?$ /blog/mein-perfektes-krankenhaus-streaming-setup/ [R=301,L,NE]
RewriteRule ^2022/02/06/und-so-verzögert-sich-der-krankenhausaufenthalt/?$ /blog/und-so-verzoegert-sich-der-krankenhausaufenthalt/ [R=301,L,NE]
RewriteRule ^2022/02/05/mal-etwas-ganz-neues-getestet/?$ /blog/mal-etwas-ganz-neues-getestet/ [R=301,L,NE]
RewriteRule ^2022/01/24/was-ist-zeit-eigentlich-für-ein-seltsames-konstrukt/?$ /blog/was-ist-zeit-eigentlich-fuer-ein-seltsames-konstrukt/ [R=301,L,NE]
RewriteRule ^2022/01/08/spastik-hindert-so-extrem-am-arbeiten/?$ /blog/spastik-hindert-so-extrem-am-arbeiten/ [R=301,L,NE]
RewriteRule ^2022/01/08/wie-komme-ich-von-a-nach-b/?$ /blog/wie-komme-ich-von-a-nach-b/ [R=301,L,NE]
RewriteRule ^2021/12/24/rollstuhl-kaputt-2-tage-vor-weihnachten/?$ /blog/rollstuhl-kaputt-2-tage-vor-weihnachten/ [R=301,L,NE]
RewriteRule ^2021/12/18/dreimal-abends-weg-gewesen-seit-corona-angefangen-hat/?$ /blog/dreimal-abends-weg-gewesen-seit-corona-angefangen-hat/ [R=301,L,NE]
RewriteRule ^2021/12/16/ich-bin-manchmal-echt-lebensmüde/?$ /blog/ich-bin-manchmal-echt-lebensmuede/ [R=301,L,NE]
RewriteRule ^2021/12/12/ich-bin-mit-dem-elektrorollstuhl-durch-mcdonald-s-drive-in/?$ /blog/ich-bin-mit-dem-elektrorollstuhl-durch-mcdonald-s-drive-in/ [R=301,L,NE]
RewriteRule ^2021/12/11/flashbacks-durch-musik/?$ /blog/flashbacks-durch-musik/ [R=301,L,NE]
RewriteRule ^2021/12/11/schlafen-mit-querschnittslähmung/?$ /blog/schlafen-mit-querschnittslaehmung/ [R=301,L,NE]
RewriteRule ^2021/12/05/das-ganze-hier-ist-doch-schwerer-als-ich-dachte/?$ /blog/das-ganze-hier-ist-doch-schwerer-als-ich-dachte/ [R=301,L,NE]
RewriteRule ^2021/12/04/wo-ist-der-zweite-beitrag/?$ /blog/wo-ist-der-zweite-beitrag/ [R=301,L,NE]
RewriteRule ^2021/11/26/erster-beitrag/?$ /blog/erster-beitrag/ [R=301,L,NE]
RewriteRule ^about/?$ /impressum/ [R=301,L,NE]
RewriteRule ^rss/blog/?$ /feed.xml [R=301,L,NE]
RewriteRule ^partner/unternehmen/?$ /partner/ [R=301,L,NE]

<IfModule mod_headers.c>
Header always set X-Content-Type-Options "nosniff"
Header always set Referrer-Policy "strict-origin-when-cross-origin"
Header always set X-Frame-Options "SAMEORIGIN"
</IfModule>

<IfModule mod_headers.c>
Header always set X-Robots-Tag "noindex, nofollow, noarchive"
</IfModule>

<IfModule mod_headers.c>
Header set Cache-Control "public, max-age=31536000, immutable" "expr=%{REQUEST_URI} =~ m#^/(?:rb-releases/[0-9]+-[0-9]+/)?_astro/# && (%{REQUEST_STATUS} == 200 || %{REQUEST_STATUS} == 304)"
</IfModule>

<IfModule mod_deflate.c>
  <IfModule mod_filter.c>
    <FilesMatch "\.json$">
      AddOutputFilterByType DEFLATE application/json
    </FilesMatch>
  </IfModule>
</IfModule>
